body{
  background-color: #f1e8e0;
}


.img{
  width: 50px;
  height: auto;


}

.bars{
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}




/* Links inside the navbar */
.navbar a{
  font-size: 20px;
  font-weight: bold;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #8FCB9B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

/* The dropdown container */
.dropdown {
  font-weight: bold;
  background-color: #e9dfd6;
  border-radius: 1rem;
  float: right;
  overflow: hidden;
  cursor: pointer;
  margin-top: 35px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-weight: bold;
  font-size: 16px; 
  border: none;
  outline: none;
  color: #8FCB9B;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  border-radius: 1rem;
  background-color: #5B9279;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  border-radius: 1rem;
  right: 1.1%;
  display: none;
  position: absolute;
  background-color: #8FCB9B;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #5B9279;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

@media  (max-width: 600px) {
  

  
}