<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="Homepage" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='annonsen.css') }}">
    </head>
    <body>
            <nav>
                <div class="navbar">
                    <a href="http://127.0.0.1:8080/" class="small_logo"> <img alt="liten logotyp" src="{{ url_for('static', filename='monstera-animated-logo.gif') }}">Stickling</a>
                    <div class="RBOX">
                        {% if 'user' in session %}
                        <div class="creation_box">
                            <a class="creation_button"href="http://127.0.0.1:8080/new/choose_ad/">
                                <img src="{{ url_for('static', filename='CUBE_f.png') }}"><p>Skapa Annons</p></a>
                        </div >
                    {% endif %}
                        <div class="dropdown">
                            <button class="dropbtn">
                                <div class="bars"></div>
                                <div class="bars"></div>
                                <div class="bars"></div>
                            </button>
                            <div class="dropdown-content">   
                                <a href="http://127.0.0.1:8080/profile/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-8.png') }}"> Profil</a>
                                <a href="http://127.0.0.1:8080/profile/liked_ads/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-9.png') }}"> Sparade</a>
                                <a href="http://127.0.0.1:8080/chats/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-10.png') }}"> Chats</a>
                                {% if 'user' in session: %}
                                <a href="http://127.0.0.1:8080/logout/"><img class="bar_icons" src="{{ url_for('static', filename='logout.png') }}"> Logga ut</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <main>
            <div class="annons_bilder">
                {% for image in image_paths %}
                    <div>
                        <img class="image_main_annons" src="{{ image }}" alt="bild på stickling">
                    </div>
                {% endfor %} 
            </div>
        <div class="secondary">
            <article>
                <h2 id="title">{{ad[2]}}</h2>
                <p id="Description"> <b>Beskrivning:</b> <br> {{ad[4]}}</p>
                {% if username == ad[1]: %}
                <div class="line"></div>
                <div id="addition_1">
                    <a href="http://127.0.0.1:8080/edit/{{ad[0]}}/">Redigera Annons</a>
                </div>
                    <div  class="addition_2" >
                        <form action="http://127.0.0.1:8080/remove/" method="POST">
                            <p class="remove_annons">Ta bort annons:</p>
                            <input type="hidden" id="custId" name="ad_id" value="{{ ad[0] }}">
                            <button type="submit" value="Ta bort annons">
                        </form>
                    </div>
                {% endif %}
            </article>
            <div class="line">
                {% if ad[3] != None: %}
                    <div>
                        <!--kan lägga till en if här som byter 
                            ut priset till logan för vilken typen 
                            av annons det här-->
                            <div id="pris">
                                <h4>Pris: {{ad[3]}} SEK</h5>
                            </div>
                            <div class="line"></div>
                        {% endif %}
                        {% if username != ad[1]: %}
                            {%if ad_is_liked == True: %}
                            <img src="/static/pngegg-9.png" alt="Like button" data-id="{{ad[0]}}" class="like" data-liked="true" id="{{ad[0]}}">      
                                    {% else: %}
                                    <img src="/static/pngegg-9.png" type="hidden" alt="Like button" data-id="{{ad[0]}}" class="like" data-liked="false" id="{{ad[0]}}">
                            {% endif %}
                    </div>
                    <div class="line">
                        <aside id="aside">
                            <form>
                                <p for="Meddelande">Meddelande:</p>
                                <textarea placeholder="...."></textarea>
                                <p for="email">Email:</p>
                                <input type="text" required name="email" id="mail" placeholder="...">
                                <input type="submit" value="skicka">
                            </form>
                        </aside>
                    </div>
                {% endif %}
            </div>
        </div>
        </main> 
        <footer id="information">
            <p class="linkfoot">  © 2023 Stickling, Inc.</p>
            <a class="linkfoot" href="idk">·Terms</a>
            <a class="linkfoot" href="idk">·Privacy</a>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
        <script src="/static/like.js"></script>
    </body>
    </html>