<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stickling.gg</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Login&register.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Login&Register</title>
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Logga in</div>
          <div class="title signup">Registrera ny användare</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Logga in</label>
            <label for="signup" class="slide signup">Registrera</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="#" class="login">
                <div class="field">
                    <input class="RegisterUn " id="Användarnamn" name="Användarnamn" type="text" required  placeholder="Användarnamn">
                </div>
              <div class="field">
                <input type="text" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Lösenord" required           
                pattern="^(?=.*[A-Ö])(?=.*[a-ö])(?=.*[0-9])(?=.*[!@#$%^&*()_+-=]).{8,}$">
              </div>
              <div class="info">
                <img class="icon-info-sign" src="{{ url_for('static', filename='info-button.png') }}" alt="info">
                <span class="extra-info">
                      Du måste använda minst 8 tecken, två versala tecken, en  siffra och ett special tecken:               !@#$%^&*()+-=
                 </span>
             </div>
              <div class="pass-link"><a href="#">Glömt lösenord?</a></div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="logga in!">
              </div>
              <div class="signup-link">Inte medlem? <a href="">Registrera dig här</a></div>
            </form>
            <form action="#" class="signup">
                    <form action="http://127.0.0.1:8080/register/new/" method="POST" class="form1">
                        {% if invalid_email != "": %}
                          <p class="error_message">{{invalid_email}}</p>
                        {% endif %}
                        <div class="field">
                            <input type="text" placeholder="Email Address" required>
                          </div>                   
                        {% if invalid_email != "": %}
                          <p class="error_message" >{{invalid_email}}</p>
                        {% endif %}         
                <div class="field">
                    <input class="RegisterUn " id="Användarnamn" name="Användarnamn" type="text" required  placeholder="Användarnamn">
                </div>
              <div class="field">
                <input type="password" placeholder="Lösenord" required        
                  pattern="^(?=.*[A-Ö])(?=.*[a-ö])(?=.*[0-9])(?=.*[!@#$%^&*()_+-=]).{8,}$">
              </div>
              <div class="info">
                <img class="icon-info-sign" src="{{ url_for('static', filename='info-button.png') }}" alt="info">
                <span class="extra-info">
                      Du måste använda minst 8 tecken, två versala tecken, en  siffra och ett special tecken:  !@#$%^&*()+-=
                 </span>
             </div>
              <div class="field">
                <input type="password" placeholder="Bekräfta lösenord" required>
              </div>
              <div class="field">
                <input class="RegisterUn" id="Telefonnummer" type="text" maxlength="9" name="Telefonnummer" placeholder="Mobilnummer: +46....">
            </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Registrera!">
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="/static/Login&register.js"></script>
</body>
</html>