<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="utf-8">
        <title>Stickling.gg</title>
        <link href="{{ url_for('static', filename='new.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    </head>
    <body> 
        <nav>
            <div class="navbar"> 
                    <a href="http://127.0.0.1:8080/" class="small_logo"> <img alt="liten logotyp" src="{{ url_for('static', filename='monstera-animated-logo.gif') }}">Stickling</a>
                    <div class="middle_box">
                        <div  class="Filter_buttons" >
                            <a href="http://127.0.0.1:8080/"><p class="undo" >Visa alla annonser</p></a> 
                         </div>
                        <div class="Filter_buttons">
                            <a href="http://127.0.0.1:8080/buy/"><img class="nav_buttons" src="{{ url_for('static', filename='image-26.png') }}" alt="köp"></a>
                            <p class="nav_p" >Köp</p>
                        </div>
                        <div class="Filter_buttons">
                            <a href="http://127.0.0.1:8080/trade/"><img class="byt_buttons" src="{{ url_for('static', filename='image-8.png') }}" alt="byt"></a>
                            <p class="nav_p" >Byt</p>
                        </div>
                        <div class="Filter_buttons">
                            <a href="http://127.0.0.1:8080/request/"><img class="nav_buttons" src="{{ url_for('static', filename='image-10.png') }}" alt="sök"></a>
                            <p class="nav_p" >Söker</p>
                        </div>
                    </div>
                <div class="RBOX">
                    {% if 'user' not in session %}
                        <div class="logga_in_box">
                            <a class="logga_in_button" href="http://127.0.0.1:8080/login/">Logga In</a>
                        </div>
                    {% else %}
                        <div class="creation_box">
                            <a class="creation_button" href="http://127.0.0.1:8080/new/choose_ad/">
                                <img src="{{ url_for('static', filename='CUBE_f.png') }}"><p>Skapa Annons</p></a>
                        </div >
                    {% endif %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <div class="bars"></div>
                            <div class="bars"></div>
                            <div class="bars"></div>
                        </button>
                        <div class="dropdown-content">   
                            <a href="http://127.0.0.1:8080/profile/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-8.png') }}" alt="profil-ikon"> Profil</a>
                            <a href="http://127.0.0.1:8080/profile/liked_ads/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-9.png') }}" alt="sparade-ikon" > Sparade</a>
                            <a href="http://127.0.0.1:8080/messages/"><img class="bar_icons" src="{{ url_for('static', filename='pngegg-10.png') }}" alt="chat-ikon" > Meddelande</a>
                            {% if 'user' in session: %}
                            <a href="http://127.0.0.1:8080/logout/"><img class="bar_icons" src="{{ url_for('static', filename='logout.png') }}" alt="logga ut-ikon"> Logga ut</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <main> 
            <section id="main">
                {% set no_match = [] %}
                {% for ad in ads %}
                <a href="http://127.0.0.1:8080/ad/{{ad[0]}}/">
                    <div class="card">
                        <img class="annons" src="{{ ad[3] }}" data-col="0" alt="Stickling">
                        <div class="container">
                            <h4><b>{{ ad[1] }}</b></h4> 
                            <div class="info_annons">
                                <p>{{ ad[4] }}</p>
                                {% if ad[2] == "efterfråga": %}
                                    <img class="category" src="/static/efterfråga.png" alt="efterfråga-logga">
                                {% endif %}
                                {% if ad[2] == "sälj": %}
                                    <img class="category" src="/static/image-13.png" alt="efterfråga-logga">
                                {% endif %}
                                {% if ad[2] == "byt": %}
                                    <img class="trade" src="/static/trade.png" alt="efterfråga-logga">
                                {% endif %}
                                <div class="container_two">
                                    {% for x in liked_ads %}
                                        {% if 'user' in session %}
                                            {% if x[0] == session['user'] and x[1] == ad[0] and x[0] != ad[4] %}
                                                <img src="/static/pngegg-9.png" alt="Like button" data-id="{{ad[0]}}" class="like" data-liked="true" id="{{ad[0]}}">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if 'user' in session %}
                                        {% for a in unmatched_values: %}
                                            {% if ad[0] == a: %}
                                                <img src="/static/pngegg-9.png"  alt="Like button" data-id="{{ad[0]}}" class="like" data-liked="false" id="{{ad[0]}}">
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </section>
        </main>
        <footer id="information">
            <p class="linkfoot">  © 2023 Stickling, Inc.</p>
            <a class="linkfoot" href="idk">·Om oss</a>
            <a class="linkfoot" href="idk">·Kontakta oss</a>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
        <script src="/static/like.js"></script>
    </body>
</html> 