<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="RegisterMain">
    <p class="RegisterSign" align="center">Registrera ny användare</p>
    <form action="http://127.0.0.1:8080/register/new/" method="POST" class="form1">
      {% if invalid_email != "": %}
        <h3>{{invalid_email}}</h3>
      {% endif %}
      <input class="RegisterUn " id="Email" name ="Email" type="text" align="center" placeholder="Email">
      {% if invalid_username != "": %}
        <h3>{{invalid_username}}</h3>
      {% endif %}
      <input class="RegisterUn " id="Användarnamn" name ="Användarnamn" type="text" align="center" placeholder="Användarnamn">
      {% if invalid_password != "": %}
        <h3>{{invalid_password}}</h3>
      {% endif %}
      <input class="RegisterPass" id="Lösenord" type="password" name ="Lösenord" align="center" placeholder="Lösenord">
      <input class="RegisterPass" id="BekräftaLösenord" name ="Bekräfta_lösenord" type="password" align="center" placeholder="Bekräfta lösenord">
      {% if number_exists != "": %}
        <h3>{{number_exists}}</h3>
      {% endif %}
      <input class="RegisterUn" id="Telefonnummer" name ="Telefonnummer" type="text" align="center" placeholder="Mobilnummer: +46....">
      <input type="submit"  class="submit" align="center">
      <a class="RegisterSubmit" align="center">Skapa konto</a>

                
    </div>
     
</body>

</html>