<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="RegisterMain">
    <p class="RegisterSign" >Registrera ny användare</p>
    <form action="http://127.0.0.1:8080/register/new/" method="POST" class="form1">
      {% if invalid_email != "": %}
        <p>{{invalid_email}}</p>
      {% endif %}
      <input class="RegisterUn " id="Email" type="text" name="Email" placeholder="Email">
      {% if invalid_email != "": %}
        <p>{{invalid_email}}</p>
      {% endif %}
      <input class="RegisterUn " id="Användarnamn" name="Användarnamn" type="text" required  placeholder="Användarnamn">
      <input class="RegisterPass" id="Lösenord" type="password" required name="Lösenord" placeholder="Lösenord" 
pattern="^(?=.*[A-Ö])(?=.*[a-ö])(?=.*[0-9])(?=.*[!@#$%^&*()_+-=]).{8,}$">
      <input class="RegisterPass" id="BekräftaLösenord" type="password" required name="Bekräfta_lösenord" placeholder="Bekräfta lösenord">
      <input class="RegisterUn" id="Telefonnummer" type="text" maxlength="9" required name="Telefonnummer" placeholder="Mobilnummer: +46....">
      <button type="submit" class="RegisterSubmit" >Skapa konto</button>
    </div>
</body>

</html>