body{
    margin: 0%;
}

p{
  margin: 0%;
}

.new-old-box{
  padding: 10px;
  display: flex;
  
}

        

  .logga_in_button:link, .logga_in_button:visited {
    background-color: #f1e8e0;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px
    
  }
  
  .logga_in_button:hover, .logga_in_button:active {
    background-color: #eaddd0;
    color: black;
  }


.logga_in_box{
  margin-top: 35px;
  margin-right: 5px;

}


nav{
    background-color: #eaddd0;
    padding: 10px;
    position: fixed;
    z-index: 2;
    width: 98%;
    border-bottom: #f1e8e0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    }

.img{
        width: 50px;
        height: auto;
      }

.bar_icons{
  width: 20px;
  height: auto;
}


.bars{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 4px 0;
      }

#logo { font-family: 'Fasthand', cursive;

}




#pris{
    font-size: 120%;
  }
  
  #Description{
    padding: 10% 0 10% 0 ;
    font-size: 100%;
  
  }
  
  h1{
  font-size: 200%;
  
  }
  
  #Title_annons{
   width: 100%;
   height: auto;  
  
  }
  
  .secondary{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  
  aside{
    background-color: #f1e8e0;
    border-radius: 10px; /* 5px rounded corners */
    padding: 25px 25px;
    margin-top: 10%;
    margin-left: 5%;
    height: 150px;
    }
  
    input[type=text] {
      background-color: #f1e8e0;
      border: none;
      border-bottom: 2px solid #000000;
    }
  
    textarea {
      width: 100%;
      height: 80px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
    }
  
  .annons_bilder{
    padding: 10px;
    display: flex;  
  }


  
  
  .image_main_annons{
    margin-top: 10%;
    height: auto;
    width: 100%;
  }

  
  

/* Links inside the navbar */
.navbar a{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #5B9279;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  

/* The dropdown container */
.dropdown {
    font-weight: bold;
    background-color: #f1e8e0;
    border-radius: 5px;
    float: right;
    overflow: hidden;
    cursor: pointer;
    margin-top: 18px;
    margin-right: 5px;
  }

  .RBOX{
    float: right;
    display: flex;
    text-align: center;
    
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #f1e8e0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    border-radius: 5px;
    background-color: #eaddd0;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    border-radius: 5px;
    right: 2%;
    display: none;
    position: absolute;
    background-color: #f1e8e0;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #eaddd0;
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }
    
  main{
    background-color: #eaddd0;
    padding: 10%;
   }
 
  footer{
        padding: 5px;
        border-top: #f1e8e0;
        border-top-style: solid;
        background-color: #eaddd0;
        display: flex;
        position: fixed;
        bottom: 0%;
        z-index: 2;
        width: 98%;
}

   
        #information{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
          }

.linkfoot{
    text-decoration: none;
    color: black;
    margin: 0%;


}


/* lolll vet inte om detta är bra*/
/*#ff3c41*/
/*#444857*/
.test{
  display: flex;
  gap: 70%;
}
:root {
	--u: 1.5vmin;
	--clr: #e7ba89;
	--bg: #f1e8e0;
}

.button {
	position: relative;
    width: calc(var(--u) * 10);
    height: calc(var(--u) * 10);
}

input { display: none; }	

label {
    background: var(--bg);
    width: 60%;
    height: 50%;
    position: absolute;
    border-radius: calc(var(--u) * 1.5);
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


label span {
	position: absolute;
	width: 60%;
	height: 50%;
	animation: dislike 0.5s ease 0s;
}

label span:before {
    content: "";
    position: absolute;
    border-radius: 0.25vmin;
    border: 1.69vmin solid #fff0;
    border-top: 2vmin solid var(--clr);
    margin-top: 1.81vmin;
    margin-left: 0.62vmin;
}

label span:after {
    content: "";
    position: absolute;
    background: var(--clr);
    width: 1.9vmin;
    height: 1.9vmin;
    border-radius: 100%;
    margin-left: 0.51vmin;
    margin-top: 0.35vmin;
    box-shadow: 1.64vmin 0 0 0 var(--clr);
}

input:checked + label span {
	--clr: #5b9279; 
	animation: like 0.5s ease 0s;
}


@keyframes like {
	75% { transform: scale(1.25); }
}
@keyframes dislike {
	75% { transform: scale(0.75); }
}

.button:hover label span:before, .button:hover label span:after {
    --clr: #406253;
}

.button:hover input:checked + label span:before, .button:hover input:checked + label span:after {
    --clr: #5b9279; 
}




@media screen and (max-width: 600px) {
    .dropdown-content {
        right: 35px;
        
    
    
    }
  


    }    


  

  @media screen and (min-width: 800px) {

  }


