body {
    margin: 0%;
    background-color: #f1e8e0;
    font-family: 'Ubuntu', sans-serif;
        padding: 0;

}

.main_main{
  display: flex;
}
  .main_image{
    width: 700px;

  }

  .main_image_two{
    margin-top: 10%;
    margin-left: 10%;
    width: 300px;
}


.main {   
    margin-top: 120px;
    margin-right: 5%;

}

