body{
  margin: 0%;

}
.FontNav{
  font-family: 'Fasthand';
  

}


.card {
  background-color: #eaddd0;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  height: auto;
  margin-bottom: 20%;
  break-inside: avoid;
  display: grid;
  grid-template-rows: 1fr auto;
  border-bottom: #2d2d2d solid;
  border-bottom-width: thin;

  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .annons {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 40px 80px 0 rgba(0,0,0,0.2);
    background-color: #5B9279;
    border-bottom: none;
    color: #f1e8e0;

  }
  .card:hover > img {
    border-radius: 10px 10px 0 0;

    

  }



  #main > a {
    text-decoration: none;
    color: black;


  }




.logga_in_box{
  margin-right: 5px;
  margin-top: 18px;

}

  .logga_in_button:link, .logga_in_button:visited {
    background-color: #f1e8e0;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px
    
  }
  
  .logga_in_button:hover, .logga_in_button:active {
    background-color: #eaddd0;
    color: black;
  }

  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.creationB{
  width: 50px;
  height: auto;
}

nav{
    font-style: normal;
    background-color: #5B9279;
    padding: 10px;
    z-index: 2;
    position: fixed;
    border-bottom: #f1e8e0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    width: 99%;
    
    }

.img{
        width: 100px;
        height: auto;
      }

.bar_icons{
  width: 20px;
  height: auto;
}

.small_logo {
  font-family: 'Fasthand';
  font-style: normal;
}


.bars{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 4px 0;
      }



/* Links inside the navbar */
.navbar a{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #5B9279;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  

/* The dropdown container */
.dropdown {
    font-weight: bold;
    background-color: #f1e8e0;
    border-radius: 5px;
    float: right;
    overflow: hidden;
    cursor: pointer;
    margin-right: 5px;
  }

  .RBOX{
    float: right;
    display: flex;
    text-align: center;
    margin-top: 18px;
    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #f1e8e0;
    padding: 14px 14px;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    border-radius: 5px;
    background-color: #eaddd0;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    border-radius: 5px;
    right: 2%;
    display: none;
    position: absolute;
    background-color: #f1e8e0;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #eaddd0;
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }
    
main{
    background-color: #eaddd0;
    padding: 10%;
    padding-top: 5%;
   }


        
#main{
  margin-top: 15%;
  column-count: 4;
  column-gap: 20px;

}


                
footer{
  padding: 5px;
  border-top: #f1e8e0;
  border-top-style: solid;
  background-color: #eaddd0;
  display: flex;
  position: fixed;
  bottom: 0%;
  z-index: 2;
  width: 98%;
}

   
#information{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  }

.linkfoot{
  text-decoration: none;
  color: black;
  margin: 0%;


}




@media screen and (max-width: 600px) {
    .dropdown-content {
        right: 35px;
        
    
    
    }
    .card {

        width: 100%;

    }


    #main{
      justify-content: space-evenly;
      column-count: 2;
      column-gap: 20px;
    
    }    

    #main{
        margin-bottom: 10%;
        margin-right: 0%;

    }
  }

  @media screen and (min-width: 800px) {


  }

