body {
    margin: 0%;
    background-color: #f1e8e0;
    font-family: 'Ubuntu', sans-serif;
        padding: 0;

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.main {   
  align-items: center;

}


