body {
    margin: 0%;
    background-color: #f1e8e0;
    font-family: 'Ubuntu', sans-serif;
        padding: 0;

}

  .main_image{
    margin-top: 160px;
    margin-left: 4%;
    width: 600px;
  }

  .main_main{
    display: flex;
  }

.main {   
     margin-left: 15%;
    margin-top: 160px;
    margin-bottom: 200px;
    margin-right: 5%;
    font-family: 'Fasthand';
    font-style: normal;
    font-weight: bold;
}


